<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772251578942-7ifs5mv8dei3bfq8m9euqrubtmtj9c3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772251578942-7ifs5mv8dei3bfq8m9euqrubtmtj9c3g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772251578942-943sj4119r1v533b0n8n8c54ui2k6tg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLFBEiHsLvvr8x_DB5WCTZVmK3T3ExW2s</string>
	<key>GCM_SENDER_ID</key>
	<string>772251578942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codecti.selfttour</string>
	<key>PROJECT_ID</key>
	<string>flutterfacebook-976f9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfacebook-976f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772251578942:ios:db50caa7aa41902f</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfacebook-976f9.firebaseio.com</string>
</dict>
</plist>